body{
  font-family: 'Oswald', sans-serif;
  max-width: 80%;
  margin: auto;
  padding-top: 40px;
 
}

header{
  background-color: #61787f;
  display: flex;
  align-items: center;
  padding: 5px 25px;
}

header img {
  width: 127px;
}

header h1{
  color: white;
  font-weight: 300;
  padding-left: 50px;
}

#film-top {
  border: black 6px solid;
  display: flex;
  padding: 10px;
}

@media (max-width: 480px){
  header {
    justify-content: center;
  }

  header h1{
    display: none;
  }
}